body{
    background-color:#D5E1EF;
}
.box{
    position:absolute;
    margin:auto;
    inset:0;
    padding:12px;
    height:470px;
    width:100%;
    max-width: 302px;
    background-color: white;
    box-shadow: 0px,10px,20px,0px rgba(0, 0, 0, 0.318);
    border-radius: 1rem;
img{
    width:100%;
    border-radius: 12px;
}
h3{
    font-family: cursive;
    text-align: center;
}
p{
    opacity:0.5;
    text-align:center;
}
h6{
    text-align:center;
}
